*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bold;
}
body{
    display: flex;
    padding:0;
    margin:0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: rgb(230, 236, 234);
    justify-content: center;
    align-items: center;
    
}
.background{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    color:rgb(38, 33, 33);
    font-weight: bolder;
    border: 2px solid;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgb(177, 177, 218);
}
input{
    border: 1px solid grey;
    border-radius: 8px;
    font-weight: 400;
}
input:hover{
    cursor: pointer;
    background: lightgrey;
}
button{
    border:none;
    font-weight: 400;
    cursor: pointer;
    background: rgb(230, 236, 234);

}
button:hover{
    cursor: pointer;
    background: lightgrey;
}
.Error-Message{
    display: none;
    color: red;
    font-size: 15px;
    margin-top: 15px;
}
.modal{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 600px;
    height: 600px;
    overflow: hidden;
    border: 2px solid;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgb(177, 177, 218);
    animation: ease-in-out forwards;
    animation-name: modal;
    animation-duration: 400ms;
    animation-iteration-count: 1;
}
@media (max-width:700px) {
    .modal{
       width: 400px;
       height: 500px;
       box-sizing: border-box;
       box-shadow: 10px 10px 10px rgb(141, 141, 218);
    }
}
@keyframes modal {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
       transform: scale(1);
       opacity: 1;
    }
}
.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 520px;
    height: 520px;
    background: rgb(177, 177, 218);
    padding: 10px;
    border-radius: 30px;
    box-sizing: border-box;
    gap: 8px;
    animation: ease-in-out forwards;
    animation-name: modal-content;
    animation-duration: 400ms;
    animation-iteration-count: 1;
}
@media (max-width:700px) {
    .modal-content{
        width: 400px;
        height: 500px;
    }
}
@keyframes modal-content {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
       transform: scale(1);
       opacity: 1;
    }
} 
.modal-content h2{
    text-align: center;
}
.modal-content img{
    width: 30%;
    height: 30%;
    border-radius: 50px;

}
@media (max-width:700px) {
    .modal-content img{
        width: 30%;
        height: 25%;
    }
}
.modal-content input,label{
    font-weight: 400;
}
.modal-content form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.modal-content span{
    display: flex;
    align-self: self-end;
    font-size: 30px;
    font-weight: bold;
}
span:hover{
    color: rgb(255, 1, 1);
    text-decoration: none;
    cursor: pointer;
}